@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    font-family: 'raleway';
    max-width: 1440px;
    margin: auto;
}
header{
    width: auto;
}
section {
  width: auto;
}
ul{
    list-style: none;
}
li{
    text-decoration: none;
    list-style-type: none;
}
h1 {
  font-weight: bold;
  font-size: 20px;
}
h2{
    font: bold;
    padding: 15px;
}
h3{
    font-weight: bold;
    font-size: 15px;
}
h4{
    text-transform:none;
    text-align:left;
}
a{
    text-decoration: none;
    color: black;
}a:hover {
    color:#0065FC;
    text-decoration:none;
}
p{
    text-decoration: none;
    color: black;
}
.span{
    display: flex;
}
.etoiles{
    color: #0065FC;
}
.negatifetoiles{
    color: #F2F2F2;
}
/* ***************** header ***************** */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#logo {
    padding-top: 20px;
}
nav {
    display: flex;
    align-items: center;  
}
nav ul {
    display: flex;
}
nav li a {
    padding: 30px;
    text-decoration: none;
    color:initial;
}
#inscription {
    color: #0065fc;
    font-weight: bolder;
    text-decoration: none;
    border-top: 3px solid transparent;
    padding: 30px;
  
}
#inscription:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
    cursor: pointer;
}
nav a:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
    cursor: pointer;
}
nav #hebergements{
    border-top: 2px solid #0065FC;
    color:#0065FC;
}
/* ***************** Zone de recherche ***************** */
#recherche{
    margin-left: 20px;
}
#form-recherche{
    max-width: 450px;
    height: 50px;
    margin: 20px 0 10px 0;
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
}
#maprecherche{
    width: 50px;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    padding: 5px;
    height: 50px;
}
#maprecherche:hover{
    cursor: pointer;
    background-color:#DEEBFF  ;
}
#searchicon{
    display: none;
}
#search{
    overflow: hidden;
    max-width: 175px;
    font-size: 20px;
    border: none;
}
#rechercher{
    width: 120px;
    float: right;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    background-color:#0065FC ;
    border: none;
    padding: 5px;
    font-size: 20px;
    height: 50px;
}
#rechercher:hover{
    cursor: pointer;
    background-color: #DEEBFF;
    color: black;
}
/* ***************** zone Filtres ***************** */
#filtres{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}
#titrefiltres{
    margin: 30px 10px;
}
#filtres a{
    margin: 20px;
}
#filtres ul{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content:left;
}
.logos{
    width: auto;
    border-radius: 40px;
    border: 2px solid #F2F2F2;
    margin: 20px;
}
#filtres i{
    border-radius: 40px;
    background-color: #DEEBFF ;
    padding: 10px;
    color: #0065FC;
}
/* ***************** Zone de Information ***************** */
.fa-info{
    width: 10px;
    height: 10px;
    border: 3px solid #F2F2F2;
    border-radius: 100%;
    padding: 15px;
    margin-bottom: 30px;
    color: #0065FC;
    text-align: center;
}
#information{
    display: flex;
    padding: 5px;
    text-align: center;
}
#information p{
    margin-left: 20px;
}
/* ***************** Zone Hébergement ***************** */
main li:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#block{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    overflow: hidden;
}
#hebergementsMarseille{
    flex: 2;
    flex-direction: column;
    justify-content:space-between;
    display:flex;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 1%;
    padding-bottom: 15px;
}
.imghotel{
    overflow: hidden;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 120px;
}
#hebergementsMarseille img{
    width: 100%;
}
#hebergementsMarseille ul{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-between;
    padding: 0;
}
#hebergementsMarseille li{
    overflow: hidden;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px #b8b8b8;
}
.hotelhebergements{ 
    display: block;   
    width: 90%;
    height: 40%;
    padding-left: 15px;
    box-shadow: 5px 5px 5px white;
}
.titres{
    padding: 5px;
    color: black;
    font-weight: bold;
}
.text{
    padding: 5px;
    color: black;
}
#afficherplus {
  text-decoration: none;
  color:black;
  font-weight: bold;
  padding-left: 25px;
}
/* ***************** Zone de Populaires ***************** */
#pluspopulaires{
    overflow: hidden;
    flex: 1;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 1%;
}
#pluspopulaires h2 i{
    float: right;
    padding-right: 15px;
}
#pluspopulaires ul{
    padding: 0;
}
.block_populaire{
    overflow: hidden;
    display: flex;
    justify-content:stretch;
    height: 150px;
    background-color: white;
    padding: 5px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #dfe0e0;
}
.imgpopulaires{
    overflow: hidden;
    display: flex;
    width: 38%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 10px;
}
.block_populaire img{
    width: 100%;
}
.hotelpopulaires{
    display: flex;
    flex:1 1 auto ;
    width: 68%;
    flex-direction: column;
    justify-content: space-evenly; 
    padding-top: 5%;
}
/* ***************** Zone de Activité ***************** */
#zoneactivite {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.block_activite{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center;
    padding: 0;
}
.block {
    overflow: hidden;
    display: flex;
    max-width: 350px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 480px;
}
.activitezonerechercher{
    overflow: hidden;
    padding: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#imgblock2{
    width: 100%;
    margin-top: -20%;
} 
#imgblock3{
    width: 100%;
    margin-top: -20%;
} 
#imgblock5{
    width: 100%;
} 
#imgblock6{
    width: 100%;
}
#imgblock1{
    height: 440px;
} 
#imgblock4{
    height: 440px;
}
.block_individuel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3%;
    box-shadow: 5px 5px 5px #b8b8b8;
    border-radius: 20px;
}
.block_individuel:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.titresactivite{
    margin: 15px;
    font-weight: bold;
    text-align: left;
}
/* ***************** Fotters ***************** */
footer{
    overflow: hidden;
    display: flex;
    justify-content: stretch;
    background-color: #F2F2F2;
    margin-top: 20px;
    padding: 10px;
}
footer div{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex:auto;
    width:33%;
    background-color: #F2F2F2;
    margin: 20px;
    padding: 10px;
}

/* ***************** responsive ***************** */
@media only screen and (max-width : 1024px) {
    /* ***************** Zone Hébergement ***************** */
    #block {
        flex-direction: column-reverse;
        margin: 0;
    }

    #hebergementsMarseille {
        background-color: white;
        border-radius: 0%;
        width: 95%;
        margin: 1%;
    }
    #hebergementsMarseille ul {
        display: flex;
        justify-content: center;
    }

    #hebergementsMarseille li {
        display: flex;
        align-items: stretch;
        box-shadow: 0 2px 15px 1px #dfe0e0;
    }

    #hebergementsMarseille img {
        min-height: auto;
        margin: 0;
    }
    /* ***************** Zone de Populaires ***************** */
    #pluspopulaires {
        border-radius: 0%;
        width: 95%;
        margin: 1%;
    }

    #pluspopulaires ul {
        display: flex;
        justify-content: center;
    }

    .block_populaire{
        display: flex;
        align-items: stretch;
        max-width: 300px;
    }

    .hotelpopulaires {
        overflow: hidden;
        flex:1 1 auto ;
        min-width: 80px;
        max-width: 512px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }

    .block_populaire img {
        overflow: hidden;
        display: flex;
        flex:1 1 auto ;
        min-width: 80px;
        max-width: 512px;
        height: 97%;
        background-size: cover;
        background-position: center;
    }
    /* ***************** Zone de Activité ***************** */
    #zoneactivite{
        display: flex;
        flex-direction: column;
        border-radius: 0%;
        width: 95%;
        margin: 1%;
    }
    .block_activite {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items:center;
        padding: 0;
        flex-wrap: wrap;
    }
}
/* ***************** responsive taille mobille ***************** */
@media only screen and (max-width: 850px) {
    header {
        margin: 0;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
    /* ***************** NAV ***************** */
    #logo {
        padding-left: 25px;
    }

    nav {
        width: 100%;
    }

        nav ul {
            width: 100%;
            padding: 0;
        }

    #inscription {
        position: absolute;
        top: 5px;
        right: 1px;
    }

    nav a:hover {
        border-top: none;
    }

    nav li {
        width: 100%;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 15px;
    }

        nav li:hover {
            border-bottom: 3px solid #0065fc;
        }

    nav #hebergements {
        border: none;
    }

    nav li::first-of-type {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
    /* ***************** Zone de recherche ***************** */
    #rechercher {
        width: 12%;
        border-radius: 20px;
    }

    #searchicon {
        display: initial;
    }

    .searchtext {
        display: none;
    }
    /* ***************** Zone Populaires ***************** */
    #pluspopulaires ul {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        align-items: stretch;
        padding: 0;
        padding-right: 2%;
    } 
    .block_populaire{
        display: flex;
        align-items: stretch;
        width: 100%;
    }

    /* ***************** Zone Hébergement ***************** */

    #hebergementsMarseille {
        background-color: white;
        border-radius: 0%;
        width: 95%;
        margin: 1%;
    }
    #hebergementsMarseille ul {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #hebergementsMarseille li {
        width: 94%;
        display: flex;
        padding: 1%;
    }
    .imagerecherche{
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
    }
    #hebergementsMarseille #imgrecherche1{
        margin-top: -45%;
    }
    #hebergementsMarseille #imgrecherche2{
        margin-top: -45%;
    }
    #hebergementsMarseille #imgrecherche3{
        margin-top: -45%;
    }
    #hebergementsMarseille #imgrecherche4{
        margin-top: -60%;
    }
    #hebergementsMarseille #imgrecherche5{
        margin-top: -10%;
    }
    #hebergementsMarseille #imgrecherche6{
        margin-top: -80%;
    }
    /* ***************** Zone de Activité ***************** */
    #zoneactivite .block_activite {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }
    .imgactivites{
        height: 100%;
        text-align: center;
    }
    .block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: max-content;
        max-width: none;
        margin: 0;
        padding: 5px;
    }
    #imgblock2{
        width: 100%;
        margin-top: -70%;
    } 
    #imgblock3{
        width: 100%;
        margin-top: -20%;
    } 
    #imgblock5{
        width: 100%;
        margin-top: -20%;
    } 
    #imgblock6{
        width: 100%;
        margin-top: -20%;
    }
    #imgblock1{
        width: 100%;
        margin-top: -20%;
    } 
    #imgblock4{
        width: 100%;
        margin-top: -20%;
    }
    .block_individuel{
        width: 95%;
        max-height: 200px;
        text-align: center;
        margin: 2%;
        padding: 0;
    }
    /* ***************** Fotters ***************** */
    footer {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    footer div{
        width:100%;
    }
}
/* ***************** responsive taille mobille ***************** */
@media only screen and (max-width: 550px){
    
    #titrefiltres{
        margin: 30px 10px;
    }
    #filtres a{
        margin: 5px;
    }
    .logos{
        margin: 5px;
    }
    #filtres i{
        padding: 5px;
    }
    #pluspopulaires h2{
        font-size: 20px;
    }
    #pluspopulaires ul{
        overflow: hidden;
        padding: 0;
    }
    #hebergementsMarseille #imgrecherche1{
        margin-top: -15%;
    }
    #hebergementsMarseille #imgrecherche2{
        margin-top: -15%;
    }
    #hebergementsMarseille #imgrecherche3{
        margin-top: -15%;
    }
    #hebergementsMarseille #imgrecherche4{
        margin-top: -40%;
    }
    #hebergementsMarseille #imgrecherche5{
        margin-top: -10%;
    }
    /* ***************** responsive taille min ***************** */
    @media only screen and (max-width: 360px){
    .block_populaire{
        max-width: 220px;
    }}
}